* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}


.botContiner {
    font-family: sans-serif;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 10px;
    width: 26%;
    height: 80vh;
    overflow: hidden;
    border: #ececec solid 2px;
}

.botContiner .botTop {
    width: 100%;
    height: 12vh;
    background: #f0f0f0;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-bottom: #f8f8f8 solid 2px;
    cursor: pointer;
}

.botTop .title {
    font-size: 2rem;
}

.ResponseContiner, .responseDiv {
    width: 100%;
    height: 56vh;
    padding: 10px;
    overflow-y: auto;
    
}

.ResponseContiner::-webkit-scrollbar {
    width: 8px;
}

.ResponseContiner::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}

.ResponseContiner::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.welcomeDiv {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
}

.welcomeDiv .Welcome {
    font-size: 1.5rem;
}

.welcomeDiv .About {
    font-size: 1rem;
    text-align: center;
}

.welcomeDiv .questionDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
}

.questionDiv .question {
    padding: 5px 10px;
    border-radius: 10px;
    border: #ececec solid 2px;
}

.responseDiv .response {
    padding: 10px 10px;
    border-radius: 5px;
    background-color: #ececec;
}

.inputContiner {
    width: 100%;
    height: 12vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputContiner .inputDiv {
    width: 95%;
    height: 55%;
    display: flex;
}

.inputDiv input {
    width: 80%;
    height: 100%;
    font-size: 1.1rem;
    padding-left: 5px;
    border-radius: 10px;
    outline: none;
    border: #ececec solid 2px;
    border-start-end-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}

.inputDiv .submitBtn {
    width: 20%;
    height: 100%;
    border: #ececec solid 2px;
    background: #fff;
    border-radius: 10px;
    border-start-start-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 1.1rem;
    cursor: pointer;
}

.inputDiv .submitBtn:hover {
    background-color: #f0eeee;
}

.inputContiner .logo {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    color: #929292;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .botContiner {
        width: 90%;
        right: 5%;
        bottom: 5%;
        height: 75vh;
    }

    .botTop .title {
        font-size: 1.5rem;
    }

    .ResponseContiner, .responseDiv {
        height: 50vh;
    }

    .inputDiv input {
        font-size: 1rem;
    }

    .inputDiv .submitBtn {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .botContiner {
        width: 95%;
        right: 2.5%;
        bottom: 5%;
        height: 75vh;
    }

    .botTop .title {
        font-size:2rem;
    }

    .inputDiv input, .inputDiv .submitBtn {
        font-size: 1.1rem;
    }
}
